<div id="owl-demo" class="owl-carousel owl-theme">
 
  <div class="item"><img src="http://fpoimagery.com/?w=920&h=200" alt="The Last of us"></div>
  <div class="item"><%= image_tag('frontscreen.png') %></div>
  <div class="item"><img src="assets/fullimage3.jpg" alt="Mirror Edge"></div>
 
</div>
