                    <!--hr class="section-heading-spacer"-->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Welcome</h2>
	    <%= image_tag("eric-icon.png")%><p>Hey, I'm Eric. Welcome to my personal blog. There's not much on this site yet but you can <a data-no-turbolink="true" title="Click here to view portfolio" href="/portfolio">click here to view my portfolio</a>. Or here to check out my <a title="Click to view resume" href="https://docs.google.com/document/d/1st1U9Y9uFC9-7JXvzCcNzelRedFWIfGLRUeQEQM6IlQ/edit?usp=sharing">resume</a>.</p>

