/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/* ...
*= require_self
*= require_tree .
*= require portfolio
*= require owl.carousel
*= require owl.theme
*/

@import "bootstrap-sprockets";
@import "bootstrap";


@font-face {
    font-family: 'LibreBaskervilleItalic';
    src: font-url('LibreBaskerville-Italic-webfont.eot');
    src: font-url('LibreBaskerville-Italic-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('LibreBaskerville-Italic-webfont.woff') format('woff'),
         font-url('LibreBaskerville-Italic-webfont.ttf') format('truetype'),
         font-url('LibreBaskerville-Italic-webfont.svg#LibreBaskervilleItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: font-url('proximanova-bold-webfont.eot');
    src: font-url('proximanova-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('proximanova-bold-webfont.woff') format('woff'),
         font-url('proximanova-bold-webfont.ttf') format('truetype'),
         font-url('proximanova-bold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novalight';
    src: font-url('proximanova-light-webfont.eot');
    src: font-url('proximanova-light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         font-url('proximanova-light-webfont.woff') format('woff'),
         font-url('proximanova-light-webfont.ttf') format('truetype'),
         font-url('proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight:normal;
    font-style: normal;

}

ul{
  list-style-position: inside;
}


a{
  -webkit-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  & > .eric_navwidth{
    width: 80vw;
    margin: 0 10vw 0 10vw;
  }

}



.eric_content{
  height: 90vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  & > .eric_sub_content{
    margin: 0 12.5vw 0 12.5vw;
    width: 75vw;
  }
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}


@media all and (orientation:portrait){
  .eric_content {
      width: 100vw;
      margin: 0 0 0 0;
  }
}
